.user-employlist {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    width: -webkit-fill-available;


    .dashboard-content-header2 {
        // width: 100%;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // gap: 20px;

        .dashboard-content-header2-left {
            // display: flex;
            // justify-content: left;
            // gap: 20px;


            // button {
            //     width: 10vw !important;
            // }
        }

        .dashboard-content-header2-right {
            width: 35vw;

            .dashboard-content-search {
                // font-weight: 400;
                // line-height: 1.4em;
                // letter-spacing: 0.009em;
                // box-sizing: border-box;
                // cursor: text;
                // display: inline-flex;
                // -webkit-box-align: center;
                // align-items: center;
                // position: relative;
                // background-color: transparent;
                // font-size: 0.875rem;
                // border-radius: 2rem;
                // border: 1px solid gray;
                // width: 300px;


                .dashboard-content-input {
                    margin: 0px;
                    display: block;
                    width: 100%;
                    font-size: 0.75rem;
                    padding: 0.625rem;
                    border-radius: 16px;
                    border: 1px solid grey !important;


                }
            }

            .dashboard-content-search:focus {
                outline: #0891e0 auto 1px;

            }
        }
    }
}

.modal-dialog {
    max-width: 100%;
}

.col-form-label {
    text-align: left;
}

.ant-space {
    display: flex;
}

.dashboard-content-header2>.dashboard-content-header2-left button {
    width: 10vw !important;
}


@media only screen and (min-width:"280px") and (max-width:"914px") {
    .user-employlist {
        width: -webkit-fill-available;

        .displayDataTable {
            display: none;
        }

        .displayDataTable--responsive {
            display: block;
        }
    }

}