
.user-customerlist {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:15px;
    overflow: auto;
    width: 100%;
}

.modal-dialog{
    max-width: 100%;
}

.col-form-label{
    text-align: left;
}


.displayDataTable--responsive{
    display: none;
}
@media only screen and (min-width:"280px") and (max-width:"634px"){
    .user-customerlist{
        .displayDataTable{
            display: none;
        }
    }
    .displayDataTable--responsive{
        display: block;
    }
}