.user-voucher-extension {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    gap: 15px;
    overflow: auto;
    width: 100%;
    align-items: start;
    justify-content: space-around;

    .user-services-update--form {
        justify-content: space-between;

        >.ant-space-item {
            width: 49%;
            box-sizing: border-box;

            .user-services-update--form-item {
                width: 100%;

                >.ant-space-item {
                    width: 100%;
                }

                .newservice-form {
                    padding: 10px 40px;
                }

                .ant-row {

                    .ant-col-24 {

                        h1 {
                            font-size: 35px;
                        }

                    }

                }
            }

        }


    }
}