.user-newservices {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    width: 100%;

    .newservice-form {
        padding: 10px 40px;
    }

    .ant-row {

        .ant-col-24 {

            h1 {
                font-size: 35px;
            }

        }

    }
}

@media only screen and (min-width:"280px") and (max-width:"1000px") {
    .user-newservices {
        margin: 1em;
        background-color: white;
        border: none;
        border-radius: 10px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow: auto;
        width: 100%;

        .newservice-form {
            padding: 10px 40px;
        }

        .ant-row {
            .ant-col-10 {
                --ant-display: block;
                display: block;
                display: var(--ant-display);
                flex: 0 0 100%;
                max-width: -webkit-fill-available;
            }

        }
    }

}