.user-services {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    /*width: 100%;*/
    width: -webkit-fill-available;

    .dashboard-content-header2 {

        .dashboard-content-header2-left {

        }

        .dashboard-content-header2-right {
            width: 35vw;
        }
    }

    .dashboard-content-header3 {
        display: flex;
        flex-direction: row;
        justify-content: right;
        font-size: 16px !important;

        .text-bold {


            .ant-select-selection-item {
                font-weight: bold !important;
                font-size: 14px !important;
            }
        }
    }


}


.service {

    .service--servicepackages {
        background-color: #f9d9de;
        padding: 5px;
        border-radius: 10px;

        div {
            p {
                font-size: 13px;
                margin: 0;
            }
        }
    }

    .service--popover {

        .deleteForm--service {
            display: block;
            position: absolute;
            padding-bottom: 30px;
            z-index: 100;
            top: 10vh;
            right: 0;


            .form--service {
                background-color: white;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 18px;
                box-shadow: 1px 1px 1px 3px #d9d9d9;

                .form--serviceBtn {
                    text-align: right;
                }
            }
        }
    }


    .ant-update--service {
        position: absolute;
        top: 20px;
        right: 20px;
    }

}





@media only screen and (min-width:"280px") and (max-width:"1024px") {
    .service {
        .service--wrap {
            height: 100px;
            overflow-y: scroll;
        }

        .service--popover {

            .deleteForm--service {
                display: block;
                position: absolute;
                padding-bottom: 30px;
                z-index: 100;
                right: 0;


                .form--service {
                    background-color: white;
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding: 5px;
                    box-shadow: 1px 1px 1px 3px #d9d9d9;

                    .form--serviceBtn {
                        text-align: right;

                        button {
                            padding: 0px 12px;
                        }
                    }
                }
            }
        }
    }

    .ant-popover .ant-popover-inner {
        width: 40vw !important;
    }
}

@media only screen and (min-width:"280px") and (max-width:"462px") {

    .ant-popover .ant-popover-inner {
        width: 60vw !important;
        // box-sizing: border-box;
        overflow-x: scroll
    }

    .service {
        .ant-update--service {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}

@media only screen and (min-width:"280px") and (max-width:"600px") {
    .dashboard-content-input {
        width: -webkit-fill-available;
    }

    .dashboard-content-header2 {
        display: flex;
        flex-wrap: wrap;

        .ant-space-item {
            width: 100% !important;

            .dashboard-content-header2-right {
                width: 100% imr !important;
            }
        }
    }
}

@media only screen and (min-width:"463px") and (max-width:"680px") {
    .ant-popover .ant-popover-inner {
        width: 60vw !important;
        box-sizing: border-box;
    }


}

@media only screen and (min-width:"1025px") {
    .ant-popover .ant-popover-inner {
        width: 35vw !important;
        box-sizing: border-box;
    }

}