.header-detail {
    background-color: #2f70af;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.text-title {
    color: white;
    font-size: 20px;
    margin-bottom: 0 !important;
}

.text {
    display: flex;
    font-size: 18;
    margin-bottom: 0 !important;
}

.text textarea {
    height: 200px;
    resize: none;
    border: none;
}

.icon-24 {
    font-size: 24px;
    cursor: pointer;
}

.icon-32 {
    font-size: 32px;
    cursor: pointer;
}