.user-detail {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap:15px;
    overflow: auto;
    width: 100%;
}
.detail-right {
    width: 100%;
}
.personal-information{
    background-color:rgb(224 233 238);
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:15px;
    overflow: auto;
    width: 300px;
    height: fit-content;
}

.booking-information, .supportedcustomer-information, .supporteduser-information, .voucher-information{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:15px;
    overflow: auto;
    width: inherit;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .user-detail{
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #FFFF;
        max-width: -webkit-fill-available;

    }
    .personal-information{
        background-color:rgb(224 233 238);
        border: none;
        border-radius: 10px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap:15px;
        overflow: auto;
        width: -webkit-fill-available;
        height: fit-content;
    }
}