.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: white;
}

.sidebarmenu {
    width: 250px;
    min-width: 230px;
    min-height: 100vh;
    height: auto;
    position: sticky;
    background: linear-gradient(#b0bdc3, #487f9e, #91d5ff);
    border-bottom-right-radius: 50px;
    color: #FFFFFF;
    font-size: medium;
    font-weight: 600;

}

@media only screen and (max-width: 600px) {
    .sidebarmenu {
        width: 100%;
        height: auto;
        background: linear-gradient(#b0bdc3, #487f9e, #91d5ff);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        color: #FFFFFF;
        font-size: medium;
        font-weight: 600;
        position: sticky;
        z-index: 1;
    }
}

.sidebar-container {

    /* .ant-menu-root{
    top: 0;
    left: 0;
    width: 300px;
    min-width: 215px;
    height: 100vh;
    position: sticky;
    background: linear-gradient(#b0bdc3, #487f9e, #91d5ff);
    border-bottom-right-radius: 50px;
    }
    .ant-menu-item{
        padding: 3em;
        padding-left: 2em;
        display: flex;
        color: #FFFFFF;
        list-style: none;
        text-decoration: none;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
    }*/
    .ant-menu-title-content {
        font-size: small;
        font-weight: 600;
        margin-left: 15px;
    }

    i.ant-menu-submenu-arrow {
        display: none;
    }
}