/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
*/
@import "../node_modules/react-widgets/styles.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

.App {
  position: inherit;
  display: block;
  /*min-height: 100vh;
  justify-content: center;
  flex-direction: column;*/
  align-items: center;
  /* font-size: calc(10px + 2vmin); */

}

.dashboard-content-header1 {
  display: block;
  /*flex-direction: row;
  justify-content: space-between;*/
  text-align: left;
}

.dashboard-content-header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dashboard-content-header3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 16px;
}

.dashboard-content-header1 h2 {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  font-size: xx-large;
  font-weight: 700;
}

.dashboard-content-search {
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.009em;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  font-size: 0.875rem;
  border-radius: 2rem;
  border: 1px solid gray;
  width: 300px;
}

.dashboard-content-search:focus {
  outline: #2D83B5 auto 1px;

}

.dashboard-content-input {
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  border: 0px;
  box-sizing: content-box;
  background: none transparent;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  font-size: 0.75rem;
  padding: 0.625rem;
  border-radius: 16px;


}

.dashboard-content-header2-left {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.dashboard-content-header2-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}

/* .dashboard-content-header3 span {
  padding-top:6px; */
/*position: relative;
  vertical-align: middle;
  transform: translate(0%, 75%);
  font-size: 16px;*/
/* } */
.dashboard-content-header2 button {
  min-width: 80px;
}

.Dropdown-menu {
  text-align: left;
}

.Dropdown-control {
  text-align: left;
  width: 130px;
}


.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content {
  overflow: unset;
  text-overflow: unset;
}

@media only screen and (max-width: 600px) {
  .dashboard-content-header2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  .dashboard-content-search {
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.009em;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    font-size: 0.875rem;
    border-radius: 2rem;
    border: 1px solid gray;
    width: 90%;
  }
  .dashboard-content-header2-right {
    justify-content: left;
    gap: 20px;
  }
  .user-customerlist, .user-employlist {
    max-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }

}