.user-recovery {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    width: -webkit-fill-available;
    min-height: -webkit-fill-available;

    .recoveryTable--responsive {
        display: none;
    }

}

.recoveryModal {
    top: 20px !important;
}

.recoveryModal--responsive {
    height: 80vh !important;
    overflow-y: scroll;


    .ant-modal .ant-modal-content {
        height: 100%;

        
    }
}


@media only screen and (min-width:"280px") and (max-width:"465px") {
    .user-recovery {

        .recoveryTable {
            display: none;
        }

        .recoveryTable--responsive {
            display: flex;
        }
    }

    .recoveryModal--responsive {
        height: 80vh !important;
        overflow-y: scroll;


        .ant-modal .ant-modal-content {
            height: 100%;

           
        }
    }
}