
.customer-history {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:15px;
    overflow: auto;
    width: 100%;
}